[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=osd
Comment=
Exec=/home/appuser/scripts/start-osd.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
